{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}<title>My Drive - SkyVault</title>{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'vault/vault.css' %}">{% endblock %}
{% block extra_js %}<script src="{% static 'vault/vault.js' %}"></script>{% endblock %}
{% block content %}
<div class="drive-container">
    <div class="drive-header">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="folder_name">Create New Folder:</label>
            <input type="text" name="folder_name" placeholder="Enter folder name" required>
            <button type="submit">Create</button>
        </form>
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="uploaded-file">Upload File:</label>
            <input type="file" name="uploaded_file" required>
            <button type="submit">Upload</button>
        </form>
    </div>
    

    <!-- File grid display -->
    <div class="file-grid">
        {% for folder in folders %}
        <div class="file-item">
            <span class="material-icons">folder</span>
            <p>{{ folder.name }}</p>
        </div>
        {% endfor %}
        {% for file in files %}
        <div class="file-item">
            {% if file.uploaded_file.name|lower|endswith:".jpg" or file.uploaded_file.name|lower|endswith:".png" %}
                <img src="{{ file.uploaded_file.url }}" alt="Image Preview" class="file-icon">
            {% else %}
                <span class="material-icons">insert_drive_file</span>
            {% endif %}
            <p>{{ file.name }}</p>
        </div>
        {% endfor %}
    </div>

    <!-- Context menu -->
    <div class="context-menu">
        <div class="context-menu-item">Open</div>
        <div class="context-menu-item">Delete</div>
        <div class="context-menu-item">Share</div>
        <div class="context-menu-item">Star</div>
        <div class="context-menu-item">About</div>
    </div>
</div>
{% endblock %}
