{% extends 'base.html' %}

{% block content %}
<h2>Starred Items</h2>
<div class="file-grid">
    {% for folder in starred_folders %}
    <div class="file-item" data-id="{{ folder.id }}" data-type="folder">
        <span class="material-icons">folder</span>
        <p>{{ folder.name }}</p>
    </div>
    {% endfor %}

    {% for file in starred_files %}
    <div class="file-item" data-id="{{ file.id }}" data-type="file">
        <span class="material-icons">insert_drive_file</span>
        <p>{{ file.name }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
