{% extends 'base.html' %}
{% load static %}

{% block title %}
 Trash - Vault
{% endblock %}

{% block content %}
<div class="vault-container">
    <h2>Trash</h2>
    <div class="file-grid">
        {% for file in trashed_files %}
        <div class="file-card">
            <span class="material-icons">insert_drive_file</span>
            <p>{{ file.name }}</p>
            <a href="{% url 'file_restore' file.id %}" class="material-icons">restore</a>
            <a href="{% url 'file_delete_permanent' file.id %}" class="material-icons">delete_forever</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
