{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ folder.name }} - SkyVault{% endblock %}
{% block extra_js %}<script src="{% static 'vault/vault.js' %}?=v4"></script>{% endblock %}
{% block content %}
<div class="drive-container" data-folder-id="{{ folder.id|default_if_none:'' }}">
    <h2>{{ folder.name }}</h2> <!-- Display the folder name -->

    <div class="drive-header">
        <!-- Folder Creation Form -->
        <form method="post" action="{% url 'create_folder' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="folder_name">Create New Folder:</label>
            <input type="text" name="folder_name" id="folder_name" placeholder="Enter folder name" required>
            <input type="hidden" name="parent_folder_id" value="{{ folder.id }}">
            <button type="submit">Create</button>
        </form>

        <!-- File Upload Form -->
        <form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="uploaded-file">Upload File:</label>
            <input type="file" name="uploaded_file" id="uploaded-file" required>
            <input type="hidden" name="folder_id" value="{{ folder.id }}">
            <button type="submit">Upload</button>
        </form>
    </div>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"  id="alert-container">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

        <!-- Context menu -->
        <div class="context-menu">
          <!-- Options specific to files/folders -->
          <div class="context-menu-item file-folder-only" data-action="open">Open</div>
          <div class="context-menu-item file-folder-only" data-action="cut">Cut</div>
          <div class="context-menu-item file-folder-only" data-action="copy">Copy</div>
          <div class="context-menu-item file-folder-only" data-action="delete">Delete</div>
          <div class="context-menu-item file-folder-only" data-action="share">Share</div>
          <div class="context-menu-item file-folder-only" data-action="star">Star</div>
          
          <!-- Options available for empty space -->
          <div class="context-menu-item" data-action="paste">Paste</div>
          <div class="context-menu-item" data-action="about">About</div>
      </div>
      
    
    <!-- Include the file grid for displaying folders and files within this folder -->
    {% include "vault/_file_grid.html" with folders=subfolders files=files %}
</div>
{% endblock %}


